{% extends 'base.html' %}

{% block content %}
<style>
	body{
		color: white;
	}
	.k{
		float: right;
		width: 45%;
		height: 54%;
		margin-top: -230px;
	}
</style>
<body>
<h2>VERSION 1.0.0</h2>
 	
	<h2>We are just a bunch of Enthusiastic people,who wants to help The Society.</h2>
	<hr>
 	<h2>Our Creator Team:</h2>
 	
 	<ul class="td">
		<li>Ravindranath Tagore</li>
		<li>Pushpa Shetty</li>
		<li>S Poojitha</li>
 		<li>Prerana A M</li>
  	</ul>
	<img src="https://i.ibb.co/hcCSfYQ/1.png" alt="" class="k">
	<br>
	<br>
	<p class="td">Thank you, For visiting our website</p>
	<!-- <br>
	<br> -->
	<hr>
	
</body>
{% endblock %}
